.Profile{
    background-color:#2B2450;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
.Profile *{
    color: #E7E7EB;
}
.search-student-form{
  display: flex;
  flex-direction: row;
}

article section{
  border-radius: 2px;
}
 #performances-all, #radar-section {
  border-left: 1px solid #565697;
}


.semster-module{
  display: grid;
  grid-template-columns: 30% 70%;
  border-top: 1px solid #565697;
  padding-top: 2em;
}

.semster-module section{
  margin: 0em 1em 1em 0.5em ;
}

#semesters li,#performances_list_index li{
  cursor: pointer;
  font-size: smaller;

 
}

#semesters li:hover{
  background-color: #2B2450;
}


#student_performance{
  padding: 0;
  width: 70vw;
}

#algo_1, #algo_2{
  display: grid;
  grid-template-columns: 14em 60%;
}

#algo_1 h6, #algo_2 h6{  
  font-size: xx-large;
}
table, th, td {
  border: 1px;
  border-color:  #565697;
}

.algo-results{
  margin-top: 4.3rem;
  padding-top: 1rem;
  border-top: 1px solid #565697;
 
}

#performances-all .card{
  margin: 1.5em 1em 0.5em 1em ;
  padding: 1em;
}
.admis{
  background-color: #3E5570;
}

 .ajourne{
  background-color: #713C65;
}

#performances_list_index{
display:flex;
flex-direction: row;
background-color: #261F49;
margin:0.3em;
}

#performances_list_index li{
  background-color: #261F49;
  margin: 0.3em;

}
#performances_list_index li:hover{
  background-color: #2B2450;
}
#performances_list_index p{
  margin: 0.8em 0.3em 0.1em 0.7em;
}

#performances-more .card{
 margin-left: -0.9em;
 padding-top: 4em;
}

