.Profile{
    background-color:#2B2450;
    width: 100vw;
    height: 300vh;
    display: flex;
    flex-direction: column;
  }
.Profile *{
    color: #E7E7EB;
}
.search-student-form{
  display: flex;
  flex-direction: row;
}


 article section,.semster-module .card{
  border: 1.3px solid #565697;
}
.semster-module{
  display: grid;
  grid-template-columns: auto auto;
}

.semster-module section{
  margin: 0em 1em 1em 0.5em ;
 
}

#semesters li{
  cursor: pointer;
  font-size: smaller;
}

#semesters li:hover{
  background-color: #2B2450;
}


#student_performance{
  padding: 0;
  width: 70vw;
}

#algo_1, #algo_2{
  display: grid;
  grid-template-columns: 14em 60%;
}

#algo_1 h6, #algo_2 h6{  
  font-size: xx-large;
}
table, th, td {
  border: 1px;
}

.algo-results{
  margin-top: 4.3rem;
}