.Profile{
    background-color:#2B2450;
    width: 100vw;
    height: 300vh;
    display: flex;
    flex-direction: column;
  }
.Profile *{
    color: #E7E7EB;
}
.search-student-form{
  display: flex;
  flex-direction: row;
}

.semster-module{
  display: grid;
  grid-template-columns: auto auto;
}

#semesters li{
  cursor: pointer;
  font-size: smaller;
}
