.Dashboard{
  background-color:#2B2450;
  width: 100vw;
  height: 300vh;
}
.Dashboard *{
    color: #E7E7EB;
}
.Dashboard article{
    display: flex;
    flex-direction: column;
}

#general-info{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap:1em;
}

#general-info div , .card{
    background-color: #261F49;
}

#years_analysis_card .card-body{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap:1em;
}
