.Dashboard{
  background-color:#2B2450;
  width: 100vw;
  height: 300vh;
}
.Dashboard *{
    color: #E7E7EB;
}
.Dashboard article{
    display: flex;
    flex-direction: column;
}

#general-info{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap:1em;
}

#general-info div , .card, .card .list-group .list-group-item{
    background-color: #261F49;
}
#years_list .list-group-item{
    background-color: #160D33;
    margin-top: -8px;
    margin-bottom: -8px;
}

.card, * .list-group-item{
    border-style:none;
}

#years_analysis_card .card-body{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap:1em;
}
#bac_list li:hover, .list-group-item:hover, #years_list .list-group-item:hover{
    background-color: #2B2450;
}

#bac_list_group_item{
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    font-size: small;
    border-top: 1px solid #565697;
}

